.details{

    border-style:groove;
    text-align: center;
}
h1{
    font-size: 16Px;
    
    
}
h2{
    word-spacing: 40px;
    font-size: 12Px;
}
h3{
    word-spacing: 60px;
    font-size: 12Px;

}
.paymentform{
    border-style:groove;
    width: 400px;
    border-radius: 10px;;
    border: auto;
    border-right: 500px;
    margin-left: 500px;
    margin-top: 50px;
    margin-right: 500px;
    margin-bottom: 50px;
    padding: 10px;
    background: black;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: orange;
}
label{
    margin: 6px;
    display: inline;
}
input[type=radio]{
    display: inline-block;
    vertical-align: top;
    margin: 8px ;
    display: inline-block;
    vertical-align: top;

}
input[type=text]{
    width:150px;
    padding: 6px 6px;
}
input[type=tel]{
    width:150px;
    padding: 6px 6px;
}
h4{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FB8122;
    text-align: center;
}
#date{
    width:90px;
    padding: 6px 6px;
}
#year{
    width:90px;
    padding: 6px 6px;
}
