/*Header styles*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #6E6E6E;
   
}

.dropdwn {
    margin: auto;
} 
.container1  nav{
    width: 100%;
    margin: auto;
   
}   
nav {
    height: 200px;
    background: #1D2228;
    box-shadow: 0 10px 15px rgba(0, 0,0, 0.1);
}
.logo {
    padding: 5px 0 0 80px;
    width: 400px;/**/
    height: autox;
}
nav ul{
    padding: 0;
    margin: 0;
    margin-top: 130px;
    float: right;
    margin-right: 120px ;
    
}
nav ul li {
    background: #1D2228;
    position: relative;
    list-style: none;
    display: inline-block;
}
nav ul li a {
    display: block;
    padding: 0 10px;
    color: #FB8122;
    text-decoration: none;
    line-height: 30px;
    font-size: 14px;
}

nav ul li a:hover{
    color: rgb(78, 77, 75);
}
nav ul ul{
    position: absolute;
    margin-top: 15px;
    margin-left:5px ;
    display: none;
}
nav ul li:hover > ul {
    display: block;
    margin: 0;
}
nav ul li:hover > ul li {
    width: 190px;
    padding: 5px;
    border-radius: 0;
    text-align: left;
}
nav ul ul li {
    width: 200px;
    float: none;
    display: list-item;
    position: relative;
}
nav ul ul li a{
    font-size: 12px;
}


/*Form styles */
.form1{
    width: 400px;
    padding: 10px;
    background-color:#E1E2E2;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #FB8122;
    float:left;
    margin-left: 80px;
    margin-bottom: 20px;
    margin-top: 30px;
}
label{
    margin: 6px;
    display: inline;
}
input[type=text]{
    width:150px;
    padding: 6px 6px;
}
input[type=phone]{
    width:150px;
    padding: 6px 6px;
}
input[type=date]{
    width:150px;
    padding: 6px 6px;
}
h1{
    font-size: 10px;
    word-spacing: 150px;
}
h2{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: #FB8122;
    text-align: center;
    text-shadow: #E1E2E2;
}
#submitBtn{
    margin-top: 5px;
    /*margin-left: 240px;*/
    background-color: #FB8122;
    color: #E1E2E2;
    padding: 10px 15px;
    border-radius: 5px;
    border: none; 
}
#submitBtn:hover {
    color: #FB8122;
    background-color: #6E6E6E;
}

#Event{
    width:168px;
    padding: 6px 6px;
}
.form2{
    float: right;
    padding: 10px;
    border-style: double;
    margin-right:40px;
    margin-top: 40px;
    background-color: peru;
    color: white;
   
}
h3{
    color: black;
    text-align: center;
    text-decoration: underline;
}



.form3{
    width: 400px;
    padding: 10px;
    background: #E1E2E2;
    font-size: 20px;
    font-family:popping;
    color: #FB8122;
    margin: auto;
    font-weight: 600;

}
h4{
    font-size: 28px;
    color: #E1E2E2;
    text-align: center;
}
/*Form styles */

/*footer*/

.container {
    max-width: 80%;
    margin: auto;
    overflow: hidden;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    margin-top: 750px; /**/
    display: flex;
    flex-flow: row wrap;
    background-color: #E1E2E2;
    padding: 50px;
    display: block;
    margin-bottom: 0;
    padding-bottom: 0;
}

.footer-col {
    width: 17%;
    padding: 0 ;
    padding-bottom: 0;
}

.footer-col h2 {
    font-size: 15px;
    color: #FB8122;
    text-transform: capitalize;
    margin-bottom: 15px;
    font-weight: 500;
    position: relative;
}
.footer-col ul {
    padding-left: 0;
}

.footer-col ul li a {
    text-align: left;
    margin: 0;
    margin-bottom: 8px;
    font-size: 12px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 400;
    color: #6E6E6E;
    display: block;
   
}

.footer-col ul li a:hover {
    color: black;
}
.footer-col .social-links {
    padding-left: 0;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 5px 5px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #797676;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #797676;
	background-color: #FB8122;
}
.footer p {
    text-align: center;
    font-size: 12px;
}

/*end footer*/