
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    flex: 1px;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #6E6E6E;
   
}


.dropdwn {
    margin: auto;
} 
.container1  nav{
    width: 100%;
    margin: auto;
   
}   
nav {
    height: 205px;
    background: #1D2228;
    box-shadow: 0 10px 15px rgba(0, 0,0, 0.1);
}
.logo {
    padding: 5px 0 0 80px;
    width: 500px;
    height: auto;
}
nav ul{
    padding: 0;
    margin: 0;
    margin-top: 130px;
    float: right;
    margin-right: 120px ;
    
}
nav ul li {
    background: #1D2228;
    position: relative;
    list-style: none;
    display: inline-block;
}
nav ul li a {
    display: block;
    padding: 0 10px;
    color: white;
    text-decoration: none;
    line-height: 30px;
    font-size: 14px;
}
nav ul li a:hover{
    color: rgb(78, 77, 75);
}
nav ul ul{
    position: absolute;
    margin-top: 15px;
    margin-left:5px ;
    display: none;
}
nav ul li:hover > ul li {
    width: 190px;
    padding: 5px;
    border-radius: 0;
    text-align: left;
}
nav ul ul li {
    width: 200px;
    float: none;
    display: list-item;
    position: relative;
}
nav ul ul li a{
    font-size: 12px;
}


body {
	/*background: #6E6E6E;*/
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

*{
	font-family: sans-serif;
	box-sizing: border-box;

}

form {
	width: 500px;
	border: 2px solid #ccc;
	padding: 30px;
	background: #fff;
	border-radius: 15px;
}

h2 {
	text-align: center;
	margin-bottom: 40px;
}

input {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}
label {
	color: #888;
	font-size: 18px;
	padding: 10px;
}

button {
	float: right;
    background-color: orangered;
	background-image: linear-gradient(-45deg, orange, orangered);
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
}
button:hover{
	opacity: .7;
}
.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

h1 {
	text-align: center;
	color: rgb(224, 221, 13);
    margin: auto;
    font-size: 80px;
}

a {
	float: right;
	background-color: orangered;
    background-image: linear-gradient(-45deg, orange, orangered);
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
    margin-bottom:200px ;
	margin-right: 10px;
	border: none;
	text-decoration: none;
}
a:hover{
	opacity: .7;
}











.container {
    max-width: 80%;
    margin: auto;
    overflow: hidden;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    margin-top: 230px;
    display: flex;
    flex-flow: row wrap;
    background-color: #E1E2E2;
    padding: 50px;
    display: block;
    margin-bottom: 0;
    padding-bottom: 0;
}

.footer-col {
    width: 17%;
    padding: 0 ;
    padding-bottom: 0;
}

.footer-col h2 {
    font-size: 15px;
    color: #FB8122;
    text-transform: capitalize;
    margin-bottom: 15px;
    font-weight: 500;
    position: relative;
}
.footer-col ul {
    padding-left: 0;
}

.footer-col ul li a {
    text-align: left;
    margin: 0;
    margin-bottom: 8px;
    font-size: 12px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 400;
    color: #6E6E6E;
    display: block;
   
}

.footer-col ul li a:hover {
    color: black;
}
.footer-col .social-links {
    padding-left: 0;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 5px 5px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #797676;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #797676;
	background-color: #FB8122;
}
.footer p {
    text-align: center;
    font-size: 12px;
}
